.PhotoFileList {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-bottom: -0.5rem;

    .photo_num {
      font-size: 2rem;
    }

    .btn_grp {
      display: flex;
      gap: .5rem;
    }
  }
}
