.DriveStatusModal {
  position: fixed;
  bottom: 1rem;
  left: 1rem;

  min-width: 25vw;
  background-color: var(--hyunsub-title-bg);
  border-radius: 0.25rem;
  border: 1px solid rgba(255, 255, 255, 0.5);

  padding: 1rem;

  .header {
    padding-bottom: 0.5rem;
    margin-bottom: 0.75rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    display: flex;

    .title {
      margin-right: auto;
    }

    i {
      cursor: pointer;
    }
  }
}
