.DriveFileView {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: .5rem .75rem;

  &:hover {
    background-color: var(--hyunsub-title-bg);
  }

  &.selected {
    background-color: var(--hyunsub-content-bg);
  }

  .icon {
    flex: 0 0 auto;
    margin-right: .5rem;
    width: 16px;

    display: flex;
    justify-content: center;

    &.folder {
      color: var(--bs-yellow);
    }

    &.image {
      color: var(--bs-blue);
    }

    &.video {
      color: var(--bs-purple);
    }

    &.text {
      color: var(--bs-green);
    }

    &.audio {
      color: var(--bs-cyan);
    }

    &.etc {
      color: var(--bs-secondary);
    }
  }

  .name {
    flex: 1 1 0;
    margin-right: .5rem;
  }

  .size {
    flex: 0 0 auto;
    margin-left: auto;
    font-size: .8rem;
    margin-right: .5rem;
    white-space: nowrap;
  }

  .date {
    flex: 0 0 auto;
    font-size: .8rem;
    font-family: 'Roboto Mono';
    white-space: nowrap;
  }
}
