.CommonDescription {
  margin-top: .5rem;

  &.noTopMargin {
    margin-top: 0;
  }

  label {
    font-size: .75rem;
    color: var(--hyunsub-text-hover);
    margin-bottom: 0.25rem;
  }

  .value {
    font-size: 1rem;
    color: white;
  }
}
