.ProfilePage {
  .list-group-item {
    display: flex;
    align-items: center;

    .key {
      width: 120px;
      text-align: right;
      margin-right: 1rem;
    }

    button {
      margin-left: auto;
    }
  }
}
