#AlbumUploadPage {
  #album_upload_form {
    display: flex;
    gap: 1rem;
    align-items: stretch;
    justify-content: stretch;
    margin-bottom: 1rem;

    input {
      flex: 1 1 auto;
    }

    button {
      flex: 0 0 auto;
    }
  }
}
