.DutchRecordItem {
  padding: .5rem 0;

  .section_1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .section_2 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }

  .section_2_2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .content {
    font-size: 1.1rem;
    margin-bottom: .25rem;
  }

  .amount {
    white-space: nowrap;
  }

  .location {
    font-size: 0.8rem;
    margin-bottom: .25rem;
    color: var(--hyunsub-text-hover);
  }

  .payment {
    font-size: 0.8rem;
  }

  .members {
    display: flex;
    flex-direction: row;
    gap: .25rem;
    font-size: 0.7rem;
  }

  .date {
    font-size: 0.7rem;
    color: var(--hyunsub-text-hover);
  }
}
