#header.desktop_header {
  height: var(--header_height_desktop);

  .desktop_header_inner {
    height: 100%;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;

    #header_title {
      font-family: 'Train One', serif;
      font-size: 2rem;
    }

    #header_menu_section {
      white-space: nowrap;
      font-size: 1.5rem;

      a {
        display: inline-flex;
        align-items: center;
        margin-left: 1.5rem;
      }

      i {
        margin-right: .5rem;
      }
    }

    #header_button_section {
      display: flex;
      align-items: center;
      margin-left: auto;
      margin-right: -1rem;

      .header_icon_btn {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        width: var(--header_height_desktop);
        height: var(--header_height_desktop);
        font-size: 1.5rem;
      }

      .fa-user-circle {
        font-size: 2rem;
      }
    }
  }
}
