.DriveViewerModal {
  .modal-dialog {
    align-items: center;
    justify-content: center;

    max-width: initial;
  }

  .modal-content {
    align-items: center;
    justify-content: center;

    width: initial;
    max-height: 80vh;
    background-color: transparent!important;
    border-width: 0!important;
    padding: 0;

    overflow: scroll;

    & > * {
      border-radius: var(--bs-modal-border-radius);
    }

    .spinner_wrapper {
      width: 100vw;
    }

    img, video {
      max-height: 100%;
      max-width: 100%;
    }

    audio {
      width: 512px;
    }

    pre {
      width: 100vw;
      height: 100%;
      padding: 1rem;
      border-radius: var(--bs-modal-border-radius);
      background-color: var(--hyunsub-content-bg);
      overflow: scroll;
    }

    object {
      width: 100vw;
      height: 80vh;
      padding: 0;
      border-radius: var(--bs-modal-border-radius);
    }
  }
}
