#AppsIndex {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--hyunsub-header-bg);

  .wrapper {
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 60vw;
  }

  .row {
    flex: 1 1 0;
  }

  .col a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  i {
    font-size: 3rem;
  }

  span {
    font-size: 1.5rem;
  }
}
