#AppsIndex {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .wrapper {
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 60vw;

    position: relative;
    top: var(--hyunsub_app_top_safe_area_height);
  }

  .row {
    flex: 1 1 0;
  }

  .col a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  i {
    font-size: 3rem;
  }

  span {
    font-size: 1.5rem;
  }
}
