#CommonContainer {
  &.is_mobile {
    padding-top: calc(var(--header_height_mobile) + var(--hyunsub_app_top_safe_area_height));

    & > .content {
      padding-top: .75rem;
      padding-bottom: .75rem;
    }
  }

  &.is_desktop {
    padding-top: var(--header_height_desktop);

    & > .content {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
}

#TabBar + div #CommonContainer {
  &.is_mobile {
    padding-bottom: calc(var(--hyunsub_tabbar_height) + var(--hyunsub_app_bottom_safe_area_height));
  }
}
