:root {
  --header_height_desktop: 64px;
}

#header.desktop_header {
  height: var(--header_height_desktop);

  .container {
    height: 100%;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;

    #header_title {
      font-family: 'Train One', serif;
      font-size: 2rem;
    }

    #header_menu_section {
      white-space: nowrap;
      font-size: 1.5rem;
    
      a {
        display: inline-flex;
        align-items: center;
        margin-left: 1.5rem;
      }
    
      i {
        margin-right: .5rem;
      }
    }

    #header_button_section {
      display: flex;
      align-items: center;
      margin-left: auto;
    
      .header_icon_btn {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    
        width: var(--header_height_desktop);
        height: var(--header_height_desktop);
        font-size: 1.5rem;
      }

      #header_profile_dropdown {
        width: calc(var(--header_height_desktop) - 1rem);
        height: var(--header_height_desktop);
        
        .header_profile_dropdown_toggle {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          cursor: pointer;
          font-size: 2rem;
        }
      }
    }
  }

  & + #content {
    padding-top: calc(var(--header_height_desktop) + 1rem);
    padding-bottom: 1rem;
  }
}
