#header.mobile_header {
  height: calc(var(--header_height_mobile) + var(--hyunsub_app_top_safe_area_height));
  padding-top: var(--hyunsub_app_top_safe_area_height);

  display: flex;
  flex-direction: row;
  align-items: stretch;

  .title {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: 1.5rem;

    i {
      margin-left: .75rem;
    }

    span {
      margin-left: .75rem;
    }
  }
}
