#header.mobile_header {
  height: var(--header_height_mobile);

  display: flex;

  .left {
    flex: 1 1 0;
    display: flex;
    flex-direction: row;

    .menu_btn {
      height: var(--header_height_mobile);
      width: var(--header_height_mobile);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
    }
  }

  .center {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    #header_title {
      font-family: 'Train One', serif;
      font-size: 1.5rem;
    }
  }

  .right {
    flex: 1 1 0;
    display: flex;
    flex-direction: row-reverse;

    #header_profile_dropdown {
      height: var(--header_height_mobile);
      width: var(--header_height_mobile);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.75rem;
    }
  }

  & + #content {
    padding-top: calc(var(--header_height_mobile) + 1rem);
    padding-bottom: 1rem;
  }
}
