#header.mobile_header {
  height: calc(var(--header_height_mobile) + var(--hyunsub_app_top_safe_area_height));
  padding-top: var(--hyunsub_app_top_safe_area_height);

  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;

  .title {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: 1.5rem;
    overflow: hidden;

    i {
      margin-left: .75rem;
    }

    span {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      margin-left: .75rem;
    }
  }

  .buttons {
    display: flex;
    align-items: center;

    .header_btn.icon {
      font-size: 1.5rem;
      width: var(--header_height_mobile);
      height: var(--header_height_mobile);

      display: flex;
      align-items: center;
      justify-content: center;
    }

    .header_btn.text {
      font-size: 1.25rem;
      height: var(--header_height_mobile);
      padding: 0 .5rem;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
