.AlbumDetailPage, .AlbumUploadPage {
  .title_section {
    display: flex;
    align-items: baseline;
    margin-bottom: 1rem;

    .album_name {
      font-size: 2rem;
    }

    .photo_num {
      margin-left: 1rem;
      font-size: 1.5rem;
    }

    .delete_button {
      align-self: flex-start;
      margin-left: auto;
    }
   }
}
