@import '/src/breakpoints.scss';

.VideoHomePageHistorySectionItem {
  .thumbnail {
    @include media-breakpoint-up(md) {
      border-radius: 0.25rem;
    }
  }

  .title {
    word-wrap: break-word;
    word-break: break-all;

    @include media-breakpoint-down(md) {
      font-size: 0.75rem;
      margin-top: .25rem;
    }
    @include media-breakpoint-up(md) {
      font-size: 1rem;
      margin-top: .5rem;
    }
  }

  .date {
    color: var(--hyunsub-text-hover);

    @include media-breakpoint-down(md) {
      font-size: 10px;
    }
    @include media-breakpoint-up(md) {
      font-size: 14px;
    }
  }

  .time_container {
    display: flex;
    flex-direction: column-reverse;

    .time {
      background-color: var(--bs-primary);
      @include media-breakpoint-up(md) {
        height: 4px;
      }
      @include media-breakpoint-down(md) {
        height: 2px;
      }
    }
  }
}
