@import '/node_modules/bootstrap/scss/bootstrap-utilities.scss';

#VideoEpisodeList {
  .episode_item {
    @include media-breakpoint-up(lg) {
      flex-direction: row;
    }
    @include media-breakpoint-down(lg) {
      flex-direction: column;
    }

    &.active {
      color: var(--bs-primary);
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .episode_thumbnail {
    flex: 0 0 auto;
    @include media-breakpoint-up(xl) {
      width: 16rem;
    }
    @include media-breakpoint-up(lg) {
      width: 14rem;
    }
    @include media-breakpoint-down(lg) {
      width: auto;
    }
  }

  .episode_title {
    word-break: break-all;

    @include media-breakpoint-up(lg) {
      margin-left: .75rem;
    }
    @include media-breakpoint-down(lg) {
      margin-top: .5rem;
    }
  }
}
