.plyr {
  --plyr-captions-background: rgba(0, 0, 0, 0);

  .plyr__caption {
    font-weight: bold;
    text-shadow:
      #000 0px 0px 3px,
      #000 0px 0px 3px,
      #000 0px 0px 3px,
      #000 0px 0px 3px,
      #000 0px 0px 3px,
      #000 0px 0px 3px,
      #000 0px 0px 3px,
      #000 0px 0px 3px,
      #000 0px 0px 3px,
      #000 0px 0px 3px;
  }
}
