#PhotoDateTable {
  font-size: 12px;

  thead {
    position: sticky;
    top: -1px;
  }

  th {
    text-align: center;
  }

  td {
    text-align: center;
    cursor: default;
  }

  td.different {
    color: red;
  }

  td.similar {
    color: yellow;
  }
}
