@import '/src/breakpoints.scss';

#VideoDetailPage {
  #video_player_section {
    background-color: black;
    width: 100%;
  }

  #video_title_section {
    word-break: break-all;
    display: flex;

    @include media-breakpoint-up(md) {
      margin-top: 1rem;
    }
    @include media-breakpoint-down(md) {
      margin-top: .5rem;
    }

    .title {
      @include media-breakpoint-up(xl) {
        font-size: 2rem;
      }
      @include media-breakpoint-between(md, xl) {
        font-size: 1.5rem;
      }
      @include media-breakpoint-down(md) {
        font-size: 1.25rem;
      }
    }

    .metadata {
      @include media-breakpoint-up(xl) {
        font-size: 1.25rem;
      }
      @include media-breakpoint-between(md, xl) {
        font-size: 1rem;
      }
      @include media-breakpoint-down(md) {
        font-size: .75rem;
      }
    }

    @include media-breakpoint-up(md) {
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
    }
    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
  }

  #video_admin_btn {
    @include media-breakpoint-up(md) {
      margin-left: auto;
      margin-right: .5rem;
    }
    @include media-breakpoint-down(md) {
      margin-top: 1rem;
    }
  }

  #video_setting_btn {
    @include media-breakpoint-down(md) {
      margin-top: 1rem;
    }
  }
}
