@import '/src/breakpoints.scss';

#VideoDetailPage {
  #video_player_section {
    background-color: black;
    width: 100%;
  }

  #video_title_section {
    word-break: break-all;
    display: flex;
    margin-top: 1rem;

    @include media-breakpoint-up(lg) {
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
    }
    @include media-breakpoint-down(lg) {
      flex-direction: column;
    }
  }

  #video_admin_btn {
    @include media-breakpoint-up(lg) {
      margin-left: auto;
      margin-right: .5rem;
    }
    @include media-breakpoint-down(lg) {
      margin-top: 1rem;
    }
  }

  #video_setting_btn {
    @include media-breakpoint-down(lg) {
      margin-top: 1rem;
    }
  }
}
