.move_up_on_hover {
  transition: transform .3s;

  &:hover {
    transform: translateY(-6px);
  }
}

.flex_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
