:root {
  --hyunsub-bg: #141414;
  --hyunsub-header-bg: #202020;
  --hyunsub-title-bg: #323232;
  --hyunsub-content-bg: #454545;
  --hyunsub-text-color: white;

  --hyunsub-border-color-primary: #DDD;
  --hyunsub-border-color-secondary: #777;

  --header_height_mobile: 48px;
}

html, body, #root {
  width: 100vw;
  min-height: 100vh;
  color: var(--hyunsub-text-color);
  background-color: var(--hyunsub-bg);
}

a {
  text-decoration: none;
  color: white;

  &:hover {
    text-decoration: none;
    color: white;
  }
}

img {
  object-fit: cover;
}

pre {
  margin-bottom: 0;
}

header {
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1000;

  border-bottom: 1px solid #232323;
  background-color: var(--hyunsub-header-bg);
}

// ===============================================================
// custom class

input {
  background-color: var(--bs-gray-dark)!important;
  color: white!important;

  &:focus {
    background-color: var(--bs-gray);
    color: white;
  }
}

.move_up_on_hover {
  transition: transform .3s;

  &:hover {
    transform: translateY(-6px);
  }
}

.gray_on_hover:hover {
  color: #bbbbbb;
}

.flex_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// ===============================================================
// custom bootstrap

.card {
  border-color: var(--hyunsub-border-color-primary);
  overflow: hidden;

  .card-header {
    background-color: var(--hyunsub-title-bg);
    border-bottom-color: var(--hyunsub-border-color-primary);
  }

  .card-body {
    background-color: var(--hyunsub-content-bg);
  }
}

.list-group {
  background-color: var(--hyunsub-content-bg);

  .list-group-item {
    background-color: var(--hyunsub-content-bg);
    color: var(--hyunsub-text-color);
    border-color: var(--hyunsub-border-color-secondary);

    &:hover {
      background-color: var(--hyunsub-title-bg);
    }
  }
}

.modal-content {
  border-color: var(--hyunsub-border-color-primary);
  background-color: var(--hyunsub-content-bg);

  .btn-close {
    opacity: 1;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFF'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
  }

  .modal-header, .modal-footer {
    background-color: var(--hyunsub-title-bg);
  }
}

.pagination {
  .page-item.active .page-link {
    color: var(--bs-pagination-active-color);
    background-color: var(--bs-pagination-active-bg);
    border-color: var(--bs-pagination-active-border-color);
  }

  .page-item:not(.active) .page-link {
    color: white;
    background-color: var(--bs-gray-dark);
    border-color: var(--hyunsub-border-color-primary);

    &:hover {
      background-color: var(--bs-gray);
    }
  }
}

.dropdown {
  .dropdown-menu {
    background-color: var(--bs-gray-dark);
  }

  .dropdown-item {
    color: white;

    &:hover {
      background-color: var(--bs-gray);
    }
  }
}

// ===============================================================
// custom select

.select__control {
  background-color: var(--bs-gray-dark)!important;
  cursor: pointer!important;
}

.is-invalid .select__control {
  border-color: var(--bs-danger)!important;
}

.select__input {
  color: white!important;
}

.select__menu {
  background-color: var(--bs-gray-dark)!important;
  border: white 1px solid;
}

.select__option {
  background-color: var(--bs-gray-dark)!important;
  cursor: pointer!important;
}

.select__option--is-focused {
  background-color: var(--bs-gray)!important;
}

.select__single-value {
  color: white!important;
}

.select--is-disabled {
  opacity: 0.5;
}
